<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    <add key="Gitlab" value="https://gitlab.digitalskynet.com/api/v4/projects/88/packages/nuget/index.json" />
    <add key="Nexus" value="https://nexus.infra.digitalskynet.com/repository/nuget-group" />
  </packageSources>
  <disabledPackageSources>
    <add key="Gitlab" value="true" />
    <Nexus>
      <add key="Username" value="gitlab" />
      <add key="ClearTextPassword" value="gitlabci" />
    </Nexus>
  </disabledPackageSources>
  <packageSourceCredentials>
    <Nexus>
      <add key="Username" value="gitlab" />
      <add key="ClearTextPassword" value="gitlabci" />
    </Nexus>
  </packageSourceCredentials>
</configuration>
